<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">RSA <small> • Simple RSA implementation</small></h3>
          <nav>
            <ul class="nav masthead-nav">
              <li class="active"><a href="#">View On GitHub</a></li>
              <li><a href="#">Ruby Gem</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="inner cover clearfix">

      	<div class="col-sm-6 text-left">
					<div class="form-group">
						<h4>Message</h4>
						<textarea class="form-control js-message" name="" id="" cols="30" rows="10"></textarea>
					</div>

					<div class="form-group">
						<div class="highlight success">
							<h4>Decrypted</h4>
							<h2 class="js-decrypted"></h2>
						</div>
					</div>

      	</div>

      	<div class="col-sm-6 text-right">

      		<div class="form-group">

							<div class="form-group col-xs-6 pull-right">
								<h4>Keys</h4>
								<div class="highlight">
									<label for="">n</label>
									<input type="text" class="js-n col-sm-2 form-control">
								</div>
								<div class="highlight">
									<label for="">Public Key</label>
									<input type="text" class="js-public-key col-sm-2 form-control">
								</div>
							</div>

					</div>

      	</div>

      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>RSA Example </a> by <a href="https://github.com/PabloVallejo">Pablo Vallejo</a></p>
        </div>
      </div>

    </div>
  </div>
</div>
